




<div class="intro-form-wrapper skills-wrapper" *ngIf="!showUserName">
    <h2>
        مهارت های خود را مشخص کنید
    </h2>



    <input type="text" class="search-input" placeholder="جستجوی مهارت" [(ngModel)]="skillQuery">


    <div class="skills-container">
        <mat-checkbox class="check-skills" 
        *ngFor="let data of skillsList | searchSkills : skillQuery">{{data}}
        </mat-checkbox>
    </div>

    <div class="sub-skills">
        <button (click)="submitSkills()" type="submit" class="first-step-btn" mat-raised-button color="primary">
            ثبت
        </button>
    </div>


</div>


<div  class="alert alert-success text-center" *ngIf="showUserName">
    {{name}}
    عزیز اطلاعات شما با موفقیت ذخیره شد



  <span style="position: static; margin-right: 20px;">بازگشت به صفحه اصلی</span> 
   <button [routerLink]="['/home']" mat-mini-fab  aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
  </div>



<div class="filler"></div>