



<div class="intro-form-wrapper resume" >

    <h2>
        سوابق شغلی و تحصیلی خود را وارد کنید
    </h2>

    <form class="intro-form" [formGroup]="educate_jobs_form" (ngSubmit)="subEducates_jobs()">


        <div class="outer-inputs">
            <h3>
                سوابق تحصیلی
            </h3>
            <div class="inner-inputs">
                <input type="text" class="text-input" placeholder="رشته تحصیلی" [formControl]="eduName" >

                <input type="text" class="text-input" placeholder=" نام دانشگاه" [formControl]="uniName" >

            </div>



            <!-- education levels -->
            <div class="educate-levels">
                <label class="educate-container">کاردانی
                    <input type="radio" [formControl]="eduLvl" value="Diploma">
                    <span class="checkmark"></span>
                </label>

                <label class="educate-container">کارشناسی
                    <input type="radio" [formControl]="eduLvl" value="Masters">
                    <span class="checkmark"></span>
                </label>


                <label class="educate-container">کارشناسی ارشد
                    <input type="radio" [formControl]="eduLvl" value="Senior">
                    <span class="checkmark"></span>
                </label>


                <label class="educate-container">دکترا
                    <input type="radio" [formControl]="eduLvl" value="PhD">
                    <span class="checkmark"></span>
                </label>

            </div>


        </div>


        <div formArrayName="educates" class="outer-inputs" *ngFor="let lessonForm of educates.controls ; let i = index">


            <!-- generate education fields -->
            <div class="inner-inputs">
                <input class="text-input" placeholder="رشته تحصیلی " formControlName="eduName">
                <input class="text-input" placeholder="نام دانشگاه " formControlName="uniName">

            </div>


            <!-- generate education fields -->
            <div class="educate-levels" [formGroupName]="i">

                <label class="educate-container">کاردانی
                    <input type="radio" formControlName="eduLvl" value="Diploma">
                    <span class="checkmark"></span>
                </label>

                <label class="educate-container">کارشناسی
                    <input type="radio" formControlName="eduLvl" value="Masters">
                    <span class="checkmark"></span>
                </label>


                <label class="educate-container">کارشناسی ارشد
                    <input type="radio" formControlName="eduLvl" value="Senior">
                    <span class="checkmark"></span>
                </label>


                <label class="educate-container">دکترا
                    <input type="radio" formControlName="eduLvl" value="PhD">
                    <span class="checkmark"></span>
                </label>


            </div>


            <!-- remove education button -->
            <div class="tgl-btn-wrapper">
                <button class="remove-btn" type="button" (click)="removeEducate(i)" mat-mini-fab>
                </button>
                <span (click)="removeEducate(i)">حذف سابقه تحصیلی</span>
            </div>



        </div>


        <!-- add education button -->
        <div class="tgl-btn-wrapper"> <button type="button" (click)="addEducates()" mat-mini-fab
                aria-label="Example icon button with a home icon">
                <mat-icon>add</mat-icon>
            </button>

            <span (click)="addEducates()">افزودن سابقه تحصیلی</span>
        </div>


        <!-- Jobs -->
        <div class="outer-inputs" style="margin-top: 50px;">
            <h3>
                سوابق شغلی
            </h3>
            <div class="inner-inputs">

                <input type="text" class="text-input" placeholder="سمت شغلی" [formControl]="jobTitle">

                <input type="text" class="text-input" placeholder="عنوان شرکت" [formControl]="coName">

                <input type="text"  [(ngModel)]="getSalary" class="text-input" placeholder=" حقوق دریافتی (اختیاری)" [formControl]="salary">
               
            </div>
         <span> {{getSalary}} تومان </span>
         <button mat-raised-button type="button" (click)="spilt_salary()">تایید دریافتی</button>
        </div>

  

        <div class="outer-inputs" formArrayName='jobs' *ngFor="let jobForm of jobs.controls ; let j = index">
            <div class="inner-inputs">
                <input type="text" class="text-input" formControlname="newJobTitle" placeholder="عنوان شغلی">
                <input type="text" class="text-input" formControlname="newCoName" placeholder="نام شرکت">
                
            </div>
        
            <!-- remove job title -->
            <div class="tgl-btn-wrapper">
                <button type="button" class="remove-btn" (click)="removeJobs(j)" mat-mini-fab>
                </button>
                <span (click)="removeJobs(j)">حذف سابقه شغلی</span>
            </div>
        </div>


           <!-- add job title -->
        <div  class="tgl-btn-wrapper"> <button type="button" (click)="addJobs()" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>

        <span (click)="addJobs()">افزودن سابقه شغلی</span>
    </div>



    <button type="submit" [disabled]="educate_jobs_form.invalid" class="first-step-btn" mat-raised-button color="primary">
        مرحله بعد
    </button>
          

    </form>


</div>


<div class="filler"></div>