/* The container */
.educate-container {
  display: block;
  position: relative;
  padding-left: 100px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px;
  margin: 20px 0px;
 
}

/* Hide the browser's default radio button */
.educate-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 40px;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.educate-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.educate-container input:checked ~ .checkmark {
  background-color: #7c6eb0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.educate-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.educate-container .checkmark:after {
 	top: 5px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}