body {
    font-family: "Shabnam FD" !important;
     margin: 0; 
     padding: 0;
     overflow-x: hidden !important;
}
span , h1, h2 , h3 , p , div , button {
    font-family: "Shabnam FD" !important;
}
html, body { height: 100%; scroll-behavior: smooth; }
input , button {
    outline: none !important;
}
@font-face {
    font-family: "Shabnam FD" !important;

    src: url(/src/assets/fonts/Shabnam-Light-FD.ttf);
    src: url(/src/assets/fonts/Shabnam-Bold-FD.woff2);
    src: url(/src/assets/fonts/Shabnam-Bold-WOL.woff2);
    src: url(/src/assets/fonts/Shabnam-Bold.woff2);
    src: url(/src/assets/fonts/Shabnam-FD-WOL.woff2);
    src: url(/src/assets/fonts/Shabnam-FD.woff2);
    src: url(/src/assets/fonts/Shabnam-Light-DF-WOL.woff2);
    src: url(/src/assets/fonts/Shabnam-Light-FD.woff2);
    src: url(/src/assets/fonts/Shabnam-Light-WOL.woff2);
    src: url(/src/assets/fonts/Shabnam-Light.woff2);
    src: url(/src/assets/fonts/Shabnam-WOL.woff2);
    src: url(/src/assets/fonts/Shabnam.woff2);
  
}




$bugloosPur:#7c6eb0;
$text_center: center;
$title_color: #241e46;
$d_flex: flex;
$j_center: center; 
$def_marg: 19px 0px;
$pos_rel: relative;
:disabled {
    cursor: not-allowed !important;
}

@mixin txt_input() {
    border: none;
    border-bottom:1px solid #aaa;
    padding: 10px;
    width: 60%;
    outline: none !important;
    margin: $def_marg;
}

@mixin mainWrapper($custom_width) {
    margin: 30px auto;
    height: auto;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.20);
    width: $custom_width;
}

@mixin flexi() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

// header

.custom-shape-divider-bottom {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: auto;
    background-color: $bugloosPur;
}

.custom-shape-divider-bottom svg {
    position: $pos_rel;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
    fill: #9a90bd;;
}

.logo-container {
    text-align: $text_center;
    background-color: $bugloosPur;
    padding-top: 14px;
}

// form styles

.intro-form-wrapper {
@include mainWrapper(600px);
 
   
    h2{
        background-color: #00cc44;
        color: #fefefe;
        text-align: $text_center;
        padding: 16px;
        user-select: none;
    }
    .intro-form {
        display: $d_flex;
        align-items: $j_center;
        flex-direction: column;
        padding: 20px;

        .text-input {
            @include txt_input();
        &::placeholder {
            font-family: "Shabnam FD" !important;
            transition: 0.3s;
        }
        &:focus {
            box-shadow: 4px 4px 8px rgba(0,0,0,0.20);
        }
    }
        input:focus::placeholder {
            transform: translateY(-12px);
            font-size: 9px;
        }

        #date-picker {
            width: 60%;
            outline: none !important;
            input {
              @include txt_input();
              width: 100%;
              outline: none !important;
            }
        }
        .mat-input-element::placeholder {
            font-size: 10px !important;
        }

        .first-step-btn {
            margin: $def_marg;
        }
        .r-text {
            margin: $def_marg;
        }

        .input-with-add {
            width: 60%;
             display: $d_flex;
              align-items: baseline;
              input {
                  width: 100%;
              }

              .fab-rotate {
                  transform: rotate(45deg);
                  transition: 0.2s ease-in-out;
              }
              .fab-rotate-de {
                  transition: 0.2s;
              }
        }

        .sec-num {
            animation: 0.8s secAnim;
        }
        .err-msg {
            color: #ff6347;
            animation: 0.4s errAnim;
            position: $pos_rel;
            font-size: 14px;
        }

        .success-input {
            border-bottom: 2px solid #00cc44;
        }
        .err-input {
            border-bottom: 1px solid red;
        }
    }
  
}


// resume route
.resume {
@include mainWrapper(70%);
background-color: #fefefe;
height: auto;

h2 {
    background-color: #009999;
}


.outer-inputs {
    display: $d_flex;
     flex-direction: column;
      align-items: $j_center;
       width: 90%;
       border-bottom: 1px solid #333;
       margin-bottom: 40px;
       
    .inner-inputs {
    display: flex; 
     width: 100%;
     input {
         margin:40px !important;
     }
}

     .educate-levels {
        display: $d_flex;
        justify-content: space-around !important;
        width: 100% !important;
        flex-wrap: wrap;
        margin: $def_marg;
     }
}

}
.tgl-btn-wrapper {
    transition: 0.2s;
    margin: 16px auto;
    span:nth-child(2) {
        cursor: pointer;
        position: $pos_rel;
        right: 10px;
    }
}
.tgl-btn-wrapper:hover {
transform: scale(1.1);
}
.remove-btn {
    background-image: url(./img/remove.svg);
    background-position: center center;
    background-size: 50px;
}
.filler {
    height: 200px;
}


// skill route 
.skills-wrapper {
    width: 65%;
    padding-bottom: 20px;
   h2 {
       background-color: #ff6666;
   } 
   .skills-container {
   @include flexi();
   }

   .search-input {
    @include txt_input();
    width: 100%;
   }

   ::placeholder {
    font-family: "Shabnam FD" !important;
    transition: 0.3s;
}
&:focus {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.20);
}
input:focus::placeholder {
    transform: translateY(-12px);
    font-size: 9px;
}
}
.sub-skills {
    text-align: center;
}

// animations
@keyframes secAnim {
    from {opacity: 0.5; transform: perspective(1000px) rotateX(-90deg); }

    to {opacity: 1; transform: perspective(1000px) rotateX(0deg); }
}

@keyframes errAnim {
    from {bottom: 10px;}
    to{bottom: 0;}
}

// media queries




@media only screen and(max-width: 760px) {
    .inner-inputs {
        flex-wrap: wrap;
    }
}


@media only screen and(max-width: 600px) {
    .intro-form-wrapper {
        width: 95%;
        h2 {
            font-size: 20px;
        }
        .intro-form {
            padding: 5px;
        }
        .text-input {
            width: 90% !important;
        }
        .input-with-add {
            width: 90% !important;
        }
        #date-picker{
            width: 90% !important;
        }
    }

}


@media only screen and(max-width: 400px) {
    .educate-levels {
        width: 50%;
    }
}