

<div class="intro-form-wrapper">
     <h2>
         اطلاعات شخصی خود را وارد کنید
     </h2>

     <form class="intro-form" [formGroup]="IntroForm" (ngSubmit)="SubIntro()">


        <!-- full name -->
        <input class="text-input"
        [ngClass]="{'success-input': fullName.valid , 'err-input' : fullName.invalid && fullName.touched}"
        type="text" placeholder="نام و نام خانوادگی" [formControl]="fullName">

        <div [hidden]="fullName.valid || fullName.untouched">
            <span class="err-msg" [hidden]="!fullName.hasError('required')">
                نام و نام خانوادگی نمیتواند خالی
            </span>

            <span class="err-msg" [hidden]="!fullName.hasError('minlength')">
                نام و نام خانوادگی نمیتواند کمتر از 4 کاراکتر باشد
            </span>
        </div>



        <!-- phone number #1 -->
        <div class="input-with-add">
            <input class="text-input" 
            [ngClass]="{'success-input': phoneNum1.valid , 'err-input' : phoneNum1.invalid && phoneNum1.touched}"
            ngModel pattern="^(\+98|0)?9\d{9}$"
            type="text" placeholder="شماره همراه"
             [formControl]="phoneNum1">
            <button type="button" (click)="addNumberInput()" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon [ngClass]="[addInputTgl ? 'fab-rotate' : 'fab-rotate-de'  ]">add</mat-icon>
              </button>
        </div>

        <!-- Error Message for phone number -->
        <div [hidden]="phoneNum1.valid || phoneNum1.untouched">
            <span class="err-msg" [hidden]="!phoneNum1.hasError('required')">
                شماره تلفن نمیتواند خالی باشد
            </span>
         </div>
         <span class="err-msg" *ngIf="phoneNum1.errors?.pattern" > 
             یک شماره تلفن معتبر وارد کنید
             <br>
             مثال:
             09101234567
         </span>

<!-- phone number #2 -->
        <input class="text-input sec-num"
        [ngClass]="{'success-input': phoneNum2.valid , 'err-input' : phoneNum2.invalid && phoneNum2.touched}"
        ngModel pattern="^(\+98|0)?9\d{9}$"
        *ngIf="addInputTgl" type="email" placeholder="شماره دوم (اختیاری)" [formControl]="phoneNum2">
        

        <!-- Error Message for phone number #2 -->
        <span class="err-msg" *ngIf="phoneNum2.errors?.pattern" > 
            یک شماره تلفن معتبر وارد کنید
        </span>



        <!-- gmail -->
        <input
        ngModel pattern="[a-zA-Z0-9]+[a-zA-Z0-9]+@gmail\.com"
        [ngClass]="{'success-input': email.valid , 'err-input' : email.invalid && email.touched}"
        class="text-input" type="email" placeholder="جیمیل" [formControl]="email">

        <!-- Error Message for gmail -->
         <div [hidden]="email.valid || email.untouched ">
            <span class="err-msg" [hidden]="!email.hasError('required')">
                ایمیل نمیتواند خالی باشد
            </span>
         </div>

         <span class="err-msg" *ngIf="email.errors?.pattern">
            یک آدرس ایمیل معتبر وارد کنید
            <br>
             مثال:
             yourname96@gmail.com
         </span>


         <!-- date -->
        <div id="date-picker" class="md-form input-with-post-icon datepicker" >
            <input placeholder="Select date" type="date" id="example" class="form-control"
            [formControl]="date"
            [ngClass]="{'success-input': date.valid , 'err-input' : date.invalid && date.touched}"
            >
          </div>
          

          <!-- date error -->

          <div [hidden]="date.valid || date.untouched">
            <span class="err-msg" [hidden]="date.hasError('reqiured')" >
                تاریخ تولد خود را وارد کنید
            </span>
          </div>

          <!-- address -->
            <input class="text-input" type="text" placeholder="آدرس"
            [formControl]="address"
            [ngClass]="{'success-input': address.valid , 'err-input' : address.invalid && address.touched}"> 
          
          <!-- address error -->

          <div [hidden] = "address.valid || address.untouched">
            <span class="err-msg" [hidden]="address.hasError('reqired')">
              آدرس خود را وارد کنید
            </span>
          </div>


          <div class="r-text">
              <mat-checkbox [color]="theme.color" class="example-margin"
              [formControl]="rule"> <span>با قوانین و مقررات موافقم</span> </mat-checkbox>
          </div>
         

          <button type="submit" class="first-step-btn"
           [disabled]="IntroForm.invalid || rule.value == false" mat-raised-button color="primary">مرحله بعد</button>
          

     </form>
</div>
  


